/classpath.txt
.gradle
.classpath
**/.settings/**/*.*
.project
.*.sw?
*~
*.bak
~*
.~*
/local*
build
/gradle-app.setting
**/*.iml
**/.idea
**/*.class
OtrosLogViewer-app/bin/**/*.*
OtrosStarter/bin/**/*.*
